.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 27px;
  border-radius: 34px;
  font-size: 27.73px;

  &--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &--secondary {
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}
