.firstSlide {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 49px 52px;
  height: 100%;

  &__header {
    margin-bottom: 86px;
    text-align: center;
    position: relative;
    z-index: 3;
    span {
      font-size: 47.93px;
      color: rgba(75, 75, 75, 1);
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex: 1;
  }

  &__badge-img {
    position: relative;

    display: flex;
    flex-direction: column;
  }

  &__badge-img:nth-child(1) {
    align-items: flex-start;
    text-align: left;

    gap: 20px;
    z-index: 2;
  }

  &__badge-img:nth-child(2) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 674px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15px;
    pointer-events: none;
  }

  &__badge-img:nth-child(3) {
    align-items: flex-end;
    text-align: right;

    gap: 20px;
    z-index: 2;
    overflow: hidden;

    .firstSlide__img {
      margin-right: -30px;
    }
  }

  &__badge {
    justify-content: center;
  }
}
