*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: 'Euclid Circular A', sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(127, 120, 117, 1);
}

#root {
  height: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

svg {
  display: block;
}
