:root {
  // Цвета
  --color-primary: rgba(75, 75, 75, 1);
  --color-secondary: rgba(127, 120, 117, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-icon: rgba(98, 91, 86, 1);
  --color-surface: rgba(162, 156, 154, 1);
  --color-muted: rgba(115, 115, 115, 1);
}
