.thirdSlide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__bg {
    position: absolute;
    inset: 0;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__content {
    position: relative;
    z-index: 2;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text-block {
    padding: 53px 67px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 14px;
  }

  &__title {
    h1 {
      margin: 0;
      text-align: right;
      color: rgba(75, 75, 75, 1);
      font-size: 45.35px;
    }
  }

  &__subtitle {
    p {
      margin: 0;
      color: rgba(115, 115, 115, 1);
      font-size: 34.87px;
    }
  }

  &__sticker {
    position: absolute;
    z-index: 3;

    bottom: 30px;
    right: 40px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__sticker-icon {
    position: absolute;
    z-index: 1;
    pointer-events: none;

    img {
      width: 100%;
      display: block;
    }
  }

  &__sticker-text {
    position: relative;
    z-index: 2;
    padding: 65px 36px;

    p {
      margin: 0;
      font-size: 21.86px;
      text-align: center;
      color: rgba(255, 255, 255, 1);
    }
  }
}
